.hero {
  padding-top: 200px;
  padding-bottom: 160px;
  min-height: 695px;
  background-image: url("../img/hero-bg.svg");
  background-position: left 20px top -183px;
  background-repeat: no-repeat;
  background-color: var(--blue-color);

  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--light-color);

    &-highlight {
      display: block;
      color: var(--pink-color);
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: var(--white-color);
  }
}
