<section class="about">
  <div class="container">
    <div class="about__inner">
      <h2 class="about__title">
        Разместите площадку на <span class="about__title-highlight">FindSport.ru</span>
      </h2>
      <ul class="list-reset about__list">
        <li class="about__item">
          FindSport занимает первые позиции в поисковиках – это значит, что клиенты точно найдут вашу площадку
        </li>
        <li class="about__item">
          Мы привелкаем для вас клиентов из контекстной рекламы и с тематических сайтов
        </li>
        <li class="about__item">
          Мы продвигаем и рассказываем о вашей площадке в социальных сетях
        </li>
      </ul>
      <a href="#" class="about__btn btn btn-reset">
        Отправить заявку
      </a>
    </div>
  </div>
</section>
