<section class="benefits section-offset">
  <div class="container">
    <h2 class="benefits__title">
      Крупнейший сервис онлайн бронирования спортивных площадок
    </h2>
    <ul class="benefits__list list-reset">
      <li class="benefits__item">
        <div class="benefits__digit">
          650
        </div>
        <p class="benefits__text">
          тысяч человек в год посещает наш сервис
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__digit">
          23
        </div>
        <p class="benefits__text">
          тысячи бронирвоаний спортивных площадок за год
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__digit">
          98
        </div>
        <p class="benefits__text">
          миллионов рублей заработали площадки за год в нашем сервисе
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__digit">
          5
        </div>
        <p class="benefits__text">
          тысяч отзывов о площадках
        </p>
      </li>
    </ul>
  </div>
</section>
