// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --blue-color: #1e337d;
  --pink-color: #f85c78;
  --white-color: #fefefe;
  --dark-color: #0b163d;
}
